<section>
    <div class="container-fluid contact text-center">
        <h2 class="text-center mb-5">Contactez-nous !</h2>
        <img class="img-fluid text-center rounded-circle" src="assets/images/img-contact.jpg" alt="Image d'une enveloppe">
        <form class="text-start d-flex flex-column justify-content-center p-5 m-5">
            <div class="m-2">
                <label for="name" class="form-label">Nom</label>
                <input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="Votre nom" required>
            </div>
            <div class="m-2">
                <label for="object" class="form-label">Sujet</label>
                <input class="form-control form-control-lg " type="text" name="sujet" id="object" placeholder="Objet de votre message" required>
            </div>
            <div class="m-2">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Votre message" required></textarea>
            </div>
            <input type="button" class="btn btn-send m-2" value="Envoyer">
        </form>
    </div>
</section>