header {
    background-color: var(--blk);
    width: 100%;
}

img {
    height: 120px;
    border-radius: 45%;
}

div {
    background-color: var(--blk);
}

h1 {
    color: var(--red);
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blk);
}

ul {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    list-style: none;
    padding-top: 15px;
}

.nav-link {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.6rem;
    color: var(--red);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(218, 0, 30,0.8);
}
