<footer>
    <div class="container-fluid d-flex justify-content-around pb-3 pt-3">
        <a href="https://www.instagram.com/#" target="blank">
            <img src="assets/images/logo-instagram-50.png" alt="Logo instagram">
        </a>
        <a href="https://www.facebook.com" target="blank">
            <img src="assets/images/logo-facebook-50.png" alt="Logo facebook">
        </a>
    </div>
    <div class="mention pb-3">
        <small>Site réalisé par Nayet Lucas avec Angular</small>
    </div>
    <button *ngIf="showButton" class="btn btn-up back-to-top" (click)="scrollToTop()">
        ↑
    </button>
</footer>
